<!-- Footer -->
<footer id="footer">
<a href="http://www.thehipholster.com"><img src="../images/hhlogo.png" alt="HipHolster"><br>Function Meets Fashion</a>
<div style="width: 30%; border-top: 1px solid white; margin: 10px auto -20px;">&nbsp;</div>
<a href="http://www.facebook.com/ctevents">Facebook.com/CTEvents</a>
    <p>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}
  </p>
</footer>
